body{

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background-image: url("/static/skins/foodbg.jpg"); 
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

#ol_id{
    margin-top: 50px;
    background-color:rgba(255,255,255,0.5);
    margin-bottom:50px;
    margin-left:50px;
    margin-right: 50px;
}


.edit_list{
    font-size:250%;
    /*background-color:rgba(255,255,255,0.5);*/
    
}

.home_btn{
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    font-family: Calibri;
    font-size: 24px;
    text-align: center;
    color:black;
    /*color:#0084FF;*/
    background-color:rgb(201, 232, 235); 
    padding: 10px;
    border-radius: 30px;
}

.back_btn{
    position: absolute;
    top:0px;
    right:0px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    font-family: Calibri;
    font-size: 24px;
    text-align: center;
    color:black;
    /*color:#0084FF;*/
    background-color:rgb(112, 221, 231); 
    padding: 10px;
    border-radius: 30px;
}