<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <form method="POST" action="/omood">
        
        <div id="user_Mood">
            <span><input type="text" placeholder="Enter Mood" name="userMood" id="um"/></span>
        </div>
        <br>
        <button type = "submit" value="Submit"></button>
       </form>
</body>
</html>
-->

<!DOCTYPE html>

<html>

<head> 

    <title>Search Box</title>  

    <link rel="stylesheet" type="text/css" href="/static/imood.css">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">

</head>

<body>

    
    <form method="POST" action="/omood">



<div class="box">

    <i class="fa fa-search" aria-hidden="true"></i></a>
    <button type = "submit" value="Submit"></button>
    <input type="text" placeholder="How Are You Feeling Today?" name="userMood" id="um"/>

</div>


</form>

<a href='/'>
    <div class="home_btn"> HOME  </div>
</a>

</body>


</html>